<%- if @operatingsystem == 'RedHat' -%>
[home_kot1grun]
name=kot1grun's Home Project (RHEL_<%= @operatingsystemmajrelease %>)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/home:/kot1grun/RHEL_<%= @operatingsystemmajrelease %>/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/home:/kot1grun/RHEL_<%= @operatingsystemmajrelease %>/repodata/repomd.xml.key
enabled=1
<%- elsif @operatingsystem == 'CentOS' -%>
[home_kot1grun]
name=kot1grun's Home Project (CentOS_<%= @operatingsystemmajrelease %>)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/home:/kot1grun/CentOS_<%= @operatingsystemmajrelease %>/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/home:/kot1grun/CentOS_<%= @operatingsystemmajrelease %>/repodata/repomd.xml.key
enabled=1
<%- end -%>
